html {
    height: 100%;
    width: 100%;
    --black: #060505;
    --white: #ffffff;
    --light_pink: #f8bbd0;
    --light_blue: #6184cb;
    --milk_white: #f3f3f3;
    --green: #01ff20;
    --red: #ff0000;
}

body{
    background-color: var(--milk_white);
    text: var(--black);
}
h1{
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
}
h2{
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
    color: var(--light_pink)
}
img{
    width: 50px;
    height: 50px;
}
hr{
    transform: rotate(90deg);
}
.opinion h1{
    font-size: 5vw;
}
.opinion p{
    font-size: 1.5vw;
}
.opinion {
    text-align: center;
    color: #c70ec7;
    font-size: 25px;
}
.buttons{
    margin-top: 25px;
    text-align: center;
}
button{
    text-align: center;
    width: 70px;
    height: 70px;
    color: white;
    background-color: #f8bbd0;
    border-radius: 30%;
    border: #fccbd8 3px solid;
    padding: 10px;
    margin: 10px;
}
input{
    font-size: 25px;
    text-align: center;
    border: #f8bbd0 solid 2px;
    border-radius: 25px;
    background-color: #fccbd8;
    color: white;
    padding: 20px;
    margin-left: 530px;
}
#myHeading_1{
    text-align: center;
    color: #a31ad5;
    font-size: 40px;
}
#myHeading_2{
    text-align: center;
    color: #c70ec7;
    font-size: 40px;
}
.ditails{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
